<div style="width: 100%;" class="mat-elevation-z8">

  <br>

    <mat-card style="background-color:#e7e6e1;">
           <div [hidden]=mostrarFormulario>
            <mat-form-field>
                <mat-label>Busqueda de Grupo</mat-label>
                <input matInput (keyup)="filter($event)" placeholder="..." #input>
            </mat-form-field>
            &nbsp;&nbsp;
            <button mat-raised-button (click)="agregar()" style="float:right;">Agregar Grupo</button>


            <table mat-table [dataSource]="dataSource" matSort style="overflow-x:auto;width: 100%">
                <mat-text-column name="grupId" headerText="ID!"></mat-text-column>

                <ng-container matColumnDef="grupDescripcion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
                    <td mat-cell *matCellDef="let grupo"> {{ grupo.grupDescripcion }} </td>
                </ng-container>

                <ng-container matColumnDef="grupNombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let grupo"> {{ grupo.grupNombre }} </td>
                </ng-container>

                <ng-container matColumnDef="grupFechaAlta">
                    <th mat-header-cell *matHeaderCellDef> Fecha Alta </th>
                    <td mat-cell *matCellDef="let grupo"> {{grupo.grupFechaAlta | date: 'DD-MM-AA'}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let grupo">
                            <button title="editar" (click)="edit(grupo)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button title="borrar" (click)="delete(grupo)">
                                <mat-icon>delete</mat-icon>
                            </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnas" ></tr>
                <tr mat-row *matRowDef="let row; columns: columnas"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No hay datos para el filtro "{{input.value}}"</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[4, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>

            <!--Id,Fecha alta,descripcion y nombre-->
           <div *ngIf="mostrarFormulario">
            <mat-card>
              <mat-grid-list cols="2" rowHeight="4:2">
                <mat-grid-tile
                  [colspan]="1"
                  [rowspan]="1">

                  <div style="width:100%;">
                      <form [formGroup]="form">


                       <br>
                        <div>
                          <div>
                            <mat-form-field appearance="outline" style="width: 50%">
                                <mat-label>Descripcion</mat-label>
                                <input matInput formControlName="grupDescripcion" required>
                                <mat-error>El campo no puede ser vacio</mat-error>
                            </mat-form-field>
                          </div>
                          <div>
                            <mat-form-field appearance="outline" style="width: 50%">
                              <mat-label>Nombre</mat-label>
                              <input matInput formControlName="grupNombre" required>
                                <mat-error>El campo no puede ser vacio</mat-error>
                              </mat-form-field>
                          </div>
                        </div>

                        <div>
                          <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
                             &nbsp;
                             <button mat-raised-button (click)="cancelar()">Cancelar</button>
                         </div>
                      </form>
                    </div>

                </mat-grid-tile>


                <mat-grid-tile
                    [colspan]="1"
                    [rowspan]="1">
                      <div *ngIf="mostrarFormulario">
                        <div style="width:150%;" >
                          <app-grupo-servicio> </app-grupo-servicio>
                        </div>
                      </div>
                </mat-grid-tile>
              </mat-grid-list>
            </mat-card>






</div>

