<div matSort style="overflow-x:auto; width: 100%;"  class="mat-elevation-z8"   >

        <div [hidden]="mostrarFormulario"  >


            <table mat-table  [dataSource]="dataSource" style="width: 100%; "  >


                  <mat-text-column name="servNombre" headerText="Nombre"></mat-text-column >
                  <mat-text-column name="grusPeriodo" headerText="Periodo"></mat-text-column>
                  <mat-text-column name="grusKM" headerText="KM"></mat-text-column>
                  <mat-text-column name="grusFecha" headerText="Fecha"></mat-text-column>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let itemServ">
                        <button mat-raised-button color="black" title="editar" (click)="editar(itemServ)">
                            Editar
                        </button>
                        <button style="margin-left: 0.6cm;" mat-raised-button color="green" title="borrar" (click)="delete(itemServ)">
                            Borrar
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Sin items todavia...</td>
                </tr>
            </table>

            <div style="text-align: center;">
                <button mat-stroked-button color="primary" (click)="agregar()">Agregar</button>
            </div>

        </div>



        <!--formulario para agregar un servicio        CORREGIR -->
        <div    *ngIf="mostrarFormulario" >

            <form [formGroup]="form" >

                <div [hidden]="true">
                    <input type="text" formControlName="grusGrupId" [(ngModel)]="grupId">
                </div>
                
                <div style="width: 100%; " >
                    <h2>Seleccione un servicio</h2>
                    <mat-form-field appearance="outline" >
                        <mat-label>Servicio</mat-label>
                        <mat-select formControlName="grusServId" required>
                            <mat-option *ngFor="let servicio of servicios" [value]="servicio.servId">
                                {{servicio.servNombre}}
                            </mat-option>
                        </mat-select>
                        <mat-error>Selecciona una opcion valida</mat-error>
                    </mat-form-field>
                </div>

                    <div style="text-align: center;">
                         <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
                          &nbsp;
                         <button mat-raised-button type="submit" (click)="cancelar()">Cancelar</button>
                    </div>
            </form>


        </div>

</div>
