<div style="width: 100%; " class="mat-elevation-z8">
    <mat-card style="background-color:#e7e6e1;">
      
      <div style="color:#8E44AD;"><div style='text-align:center' >
      <h3><b>Bienvenido al sistema</b></h3></div></div>

      <mat-toolbar color="primary" class="example-toolbar">
        
        <h1 class="example-app-name" >Sistema Integral de Control de Flota</h1>
      </mat-toolbar>

      
      
      <div style="color:#890BE3"></div>
      <button mat-raised-button>

        <a class="opcionmenu" routerLink="/grupos">Grupos</a>
      </button>


      <button mat-raised-button>

        <a routerLink="/tarea">Tarea</a>
      </button>

      <button mat-raised-button>

        <a routerLink="/servicio">Servicio</a>
      </button>
      <button mat-raised-button>

        <a routerLink="/movil">Movil</a>
      </button>


    </mat-card>
  </div>
  <router-outlet></router-outlet>


