<div style="width: 100%; " class="mat-elevation-z8">
    <mat-card style="background-color:#e7e6e1;">
      <div style="color:##8E44AD;"><div style='text-align:center' >
      <h3><b>Bienvenido al sistema</b></h3></div></div>

      <div style="color:#890BE3"></div>
      <button mat-button>
        <mat-icon>table_view</mat-icon>
        <a class="opcionmenu" routerLink="/grupos">Grupos</a>
      </button>


      <button mat-button>
        <mat-icon>table_view</mat-icon>
        <a routerLink="/tarea">Tarea</a>
      </button>

      <button mat-button>
        <mat-icon>table_view</mat-icon>
        <a routerLink="/servicio">Servicio</a>
      </button>


    </mat-card>
  </div>
  <router-outlet></router-outlet>


